@import 'fonts';

#app {
  h1 {
    color: #1e1f1c;
    font-family: 'Giga Sans Extra Bold', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
  }
  h2 {
    color: #1e1f1c;
    font-family: 'Giga Sans Extra Bold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
}
